@use '../../../../../../styles/variables' as vars;

.form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    .form-field {
        display: flex;
        flex-direction: column;
        gap: 8px;
        margin-bottom: 16px;
        
        .field-label {
            font-weight: 600;
            font-size: 14px;
            color: vars.$gray-700;
            margin: 0;
            line-height: 1.2;
        }
        
        .field-input {
            width: 100%;
            
            ::ng-deep .mat-mdc-form-field {
                height: 48px !important;
                max-height: 48px !important;
            }
            
            ::ng-deep .mat-mdc-form-field-wrapper {
                height: 48px !important;
                max-height: 48px !important;
                padding-bottom: 0 !important;
            }
            
            ::ng-deep .mat-mdc-form-field-infix {
                min-height: 48px !important;
                height: 48px !important;
                max-height: 48px !important;
                padding: 8px 0 !important;
                padding-top: 0 !important;
                padding-bottom: 0 !important;
                display: flex;
                align-items: center;
            }
            
            ::ng-deep .mat-mdc-form-field-subscript-wrapper {
                display: none !important;
            }
            
            ::ng-deep .mat-mdc-form-field-outline {
                border-radius: 8px;
            }
            
            ::ng-deep .mat-mdc-select {
                display: flex;
                align-items: center;
                height: 100%;
            }
            
            ::ng-deep .mat-mdc-input-element {
                display: flex;
                align-items: center;
                height: 100%;
            }
        }
    }
    
    .form-field.six_field {
        width: 16.66%;
        padding: 0px 5px;
    }
    
    .form-field.full_field {
        width: 100%;
        padding: 0px 5px;
    }
    
    .form-field.address_field {
        width: 50%;
        padding: 0px 5px;
    }
    
    .form-field.complement_field {
        width: 12.5%;
        padding: 0px 5px;
    }
    
    .form-field.small_field {
        width: 12.5%;
        padding: 0px 5px;
    }
    
    .form-field.half_field {
        width: 50%;
        padding: 0px 5px;
    }
    
    .form-field.email_field {
        width: 35%;
        padding: 0px 5px;
    }
    
    .form-field.phone_field {
        width: 25%;
        padding: 0px 5px;
    }
    
    .form-field.checkbox-field {
        width: 20%;
        padding: 0px 5px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding-top: 24px;
        
        mat-checkbox {
            font-size: 12px;
        }
    }
    
    .form-field.period_field {
        width: 20%;
        padding: 0px 5px;
    }
    
    .form-field.button_field {
        width: 15%;
        padding: 0px 5px;
        display: flex;
        align-items: flex-end;
        padding-top: 24px;
    }
    
    .add-account-btn {
        background-color: vars.$roadit-accent;
        color: vars.$black !important;
        text-transform: uppercase;
        font-size: 12px;
        height: 48px;
        width: 100%;
    }
    .form-field.third_field {
        width: 33.33%;
        padding: 0px 5px;
    }
}

.table-card {
    margin-top: 20px;
    
    .table-container {
        .billing-table {
            width: 100%;
            border-collapse: collapse;
            margin-bottom: 20px;
            
            thead {
                background-color: vars.$gray-100;
                
                th {
                    padding: 12px 8px;
                    text-align: left;
                    font-weight: 600;
                    font-size: 12px;
                    color: vars.$gray-700;
                    border-bottom: 1px solid vars.$gray-300;
                }
            }
            
            tbody {
                tr {
                    border-bottom: 1px solid vars.$gray-200;
                    
                    &:hover {
                        background-color: vars.$gray-50;
                    }
                    
                    td {
                        padding: 12px 8px;
                        font-size: 12px;
                        color: vars.$gray-600;
                        
                        &.actions-cell {
                            display: flex;
                            gap: 4px;
                            align-items: center;
                            
                            .action-btn {
                                width: 32px;
                                height: 32px;
                                min-width: 32px;
                                
                                &.edit-btn {
                                    color: vars.$roadit-accent;
                                }
                                
                                &.view-btn {
                                    color: vars.$black;
                                }
                                
                                &.delete-btn {
                                    color: vars.$error;
                                }
                                
                                mat-icon {
                                    font-size: 18px;
                                    width: 18px;
                                    height: 18px;
                                }
                            }
                        }
                    }
                }
            }
        }
        
        .pagination-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 16px 0;
            
            .pagination-info {
                display: flex;
                align-items: center;
                gap: 8px;
                font-size: 12px;
                color: vars.$gray-600;
                
                .pagination-select {
                    width: 60px;
                    
                    ::ng-deep .mat-mdc-form-field {
                        height: 32px !important;
                        max-height: 32px !important;
                    }
                    
                    ::ng-deep .mat-mdc-form-field-wrapper {
                        height: 32px !important;
                        max-height: 32px !important;
                        padding-bottom: 0 !important;
                    }
                    
                    ::ng-deep .mat-mdc-form-field-infix {
                        min-height: 32px !important;
                        height: 32px !important;
                        max-height: 32px !important;
                        padding: 4px 0 !important;
                    }
                    
                    ::ng-deep .mat-mdc-form-field-subscript-wrapper {
                        display: none !important;
                    }
                }
            }
            
            .pagination-controls {
                display: flex;
                align-items: center;
                gap: 8px;
                font-size: 12px;
                color: vars.$gray-600;
                
                .pagination-btn {
                    width: 32px;
                    height: 32px;
                    min-width: 32px;
                    
                    mat-icon {
                        font-size: 18px;
                        width: 18px;
                        height: 18px;
                    }
                }
            }
        }
    }
}
