<mat-card>
    <mat-card-content>
        <h1>{{'clients.create-client.fuel' | translate}}</h1>
            <div class="form-field twenty_field">
                <mat-checkbox [checked]="curPrices.is_fuel_included()" (change)="curPrices.is_fuel_included.set($event.checked)">
                    {{'clients.create-client.included-fuel' | translate}}
                </mat-checkbox>
            </div>
            <div class="form-field forty_field">
                <label class="field-label">{{'clients.create-client.client-price' | translate}}</label>
                <mat-form-field appearance="outline" class="field-input">
                    <input type="number" matInput [value]="curPrices.client_fuel_price()" (input)="curPrices.client_fuel_price.set(+$event.target.value)">
                </mat-form-field>
            </div>
            <div class="form-field forty_field">
                <label class="field-label">{{'clients.create-client.driver-price' | translate}}</label>
                <mat-form-field appearance="outline" class="field-input">
                    <input type="number" matInput [value]="curPrices.driver_fuel_price()" (input)="curPrices.driver_fuel_price.set(+$event.target.value)">
                </mat-form-field>
            </div>

            <mat-divider></mat-divider>
            <h1>{{'clients.create-client.ferry' | translate}}</h1>
            <div class="form-field twenty_field">
                <label class="field-label">{{'clients.create-client.ferry-price' | translate}}</label>
                <mat-form-field appearance="outline" class="field-input">
                    <input type="number" matInput [value]="curPrices.ferry_fixed_cost()" (input)="curPrices.ferry_fixed_cost.set(+$event.target.value)">
                </mat-form-field>
            </div>

            <h1>{{'clients.create-client.ev' | translate}}</h1>
            <div class="form-field forty_field">
                <label class="field-label">{{'clients.create-client.ev-client-price' | translate}}</label>
                <mat-form-field apprearance="outline" class="field-input">
                    <input type="number" matInput [value]="curPrices.client_charging_price()" (input)="curPrices.client_charging_price.set(+$event.target.value)">
                </mat-form-field>
            </div>
            <div class="form-field forty_field">
                <label class="field-label">{{'clients.create-client.ev-driver-price' | translate}}</label>
                <mat-form-field appearance="outline" class="field-input">
                    <input type="number" matInput [value]="curPrices.driver_charging_price()" (input)="curPrices.driver_charging_price.set(+$event.target.value)">
                </mat-form-field>
            </div>

            <mat-divider></mat-divider>
            <h1>{{'clients.create-client.additional' | translate}}</h1>
            <div class="form-field forty_field">
                <label class="field-label">{{'clients.create-client.express-transport-percent' | translate}}</label>
                <mat-form-field appearance="outline" class="field-input">
                    <input type="number" matInput [value]="curPrices.express_surcharge_percentage()" (input)="curPrices.express_surcharge_percentage.set(+$event.target.value)">
                </mat-form-field>
            </div>
            <div class="form-field forty_field">
                <label class="field-label">{{'clients.create-client.stage-discount-percent' | translate}}</label>
                <mat-form-field appearance="outline" class="field-input">
                    <input type="number" matInput [value]="curPrices.stage_discount_percentage()" (input)="curPrices.stage_discount_percentage.set(+$event.target.value)">
                </mat-form-field>
            </div>
            <app-buttons type="save-changes-noform" text="clients.create-client.save-price" (onClick)="onPrice()"></app-buttons>

            <mat-divider></mat-divider>
            <h1>{{'clients.create-client.km-bands' | translate}}</h1>
            <h2>{{'clients.create-client.distance-interval' | translate}}</h2>
            <div class="form-field quarter_field">
                <label class="field-label">{{'clients.create-client.km-from' | translate}}</label>
                <mat-form-field appearance="outline" class="field-input">
                    <input type="number" matInput [value]="curBracket.min_km()" (input)="curBracket.min_km.set(+$event.target.value)">
                </mat-form-field>
            </div>
            <div class="form-field quarter_field">
                <label class="field-label">{{'clients.create-client.km-to' | translate}}</label>
                <mat-form-field appearance="outline" class="field-input">
                    <input type="number" matInput [value]="curBracket.max_km()" (input)="curBracket.max_km.set(+$event.target.value)">
                </mat-form-field>
            </div>

            <mat-divider></mat-divider>
            <h2>{{'clients.create-client.price-to-client' | translate}}</h2>
            <div class="form-field quarter_field">
                <label class="field-label">{{'clients.create-client.price-type' | translate}}</label>
                <mat-form-field appearance="outline" class="field-input">
                    <mat-select [value]="curBracket.pricing_type()" (selectionChange)="curBracket.pricing_type.set($event.value)">
                        <mat-option value="FIXED">{{'clients.create-client.pricing-type-fixed' | translate}}</mat-option>
                        <mat-option value="PER_KM">{{'clients.create-client.pricing-type-per-km' | translate}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="form-field quarter_field">
                <label class="field-label">{{'clients.create-client.standard-price-eur' | translate}}</label>
                <mat-form-field appearance="outline" class="field-input">
                    <input type="number" matInput [value]="curBracket.standard_price()" (input)="curBracket.standard_price.set(+$event.target.value)">
                </mat-form-field>
            </div>
            <div class="form-field quarter_field">
                <label class="field-label">{{'clients.create-client.price-vu-lt-12' | translate}}</label>
                <mat-form-field appearance="outline" class="field-input">
                    <input type="number" matInput [value]="curBracket.small_vehicle_price()" (input)="curBracket.small_vehicle_price.set(+$event.target.value)">
                </mat-form-field>
            </div>
            <div class="form-field quarter_field">
                <label class="field-label">{{'clients.create-client.price-vu-gt-12' | translate}}</label>
                <mat-form-field appearance="outline" class="field-input">
                    <input type="number" matInput [value]="curBracket.big_vehicle_price()" (input)="curBracket.big_vehicle_price.set(+$event.target.value)">
                </mat-form-field>
            </div>
        <app-buttons [disabled]="!canSave()" type="add" text="clients.create-client.validate-add" (onClick)="onSave()"></app-buttons>
    </mat-card-content>
</mat-card>
<app-dynamic-table [config]="pricesTableConfig"></app-dynamic-table>