<mat-card>
    <mat-card-content>
        <h1>{{'clients.create-client.fuel' | translate}}</h1>
        <form class="form" (ngSubmit)="onSave()">
            <div class="form-field twenty_field">
                <mat-checkbox [checked]="is_fuel_included()" (change)="is_fuel_included.set($event.checked)">
                    {{'clients.create-client.included-fuel' | translate}}
                </mat-checkbox>
            </div>
            <div class="form-field forty_field">
                <label class="field-label">{{'clients.create-client.client-price' | translate}}</label>
                <mat-form-field appearance="outline" class="field-input">
                    <input type="number" matInput [value]="client_fuel_price()" (input)="client_fuel_price.set(+$event.target.value)">
                </mat-form-field>
            </div>
            <div class="form-field forty_field">
                <label class="field-label">{{'clients.create-client.driver-price' | translate}}</label>
                <mat-form-field appearance="outline" class="field-input">
                    <input type="number" matInput [value]="driver_fuel_price()" (input)="driver_fuel_price.set(+$event.target.value)">
                </mat-form-field>
            </div>

            <mat-divider></mat-divider>
            <h1>{{'clients.create-client.ferry' | translate}}</h1>
            <div class="form-field twenty_field">
                <label class="field-label">{{'clients.create-client.ferry-price' | translate}}</label>
                <mat-form-field appearance="outline" class="field-input">
                    <input type="number" matInput [value]="ferry_fixed_cost()" (input)="ferry_fixed_cost.set(+$event.target.value)">
                </mat-form-field>
            </div>

            <h1>{{'clients.create-client.ev' | translate}}</h1>
            <div class="form-field forty_field">
                <label class="field-label">{{'clients.create-client.ev-client-price' | translate}}</label>
                <mat-form-field appearance="outline" class="field-input">
                    <input type="number" matInput [value]="client_charging_price()" (input)="client_charging_price.set(+$event.target.value)">
                </mat-form-field>
            </div>
            <div class="form-field forty_field">
                <label class="field-label">{{'clients.create-client.ev-driver-price' | translate}}</label>
                <mat-form-field appearance="outline" class="field-input">
                    <input type="number" matInput [value]="driver_charging_price()" (input)="driver_charging_price.set(+$event.target.value)">
                </mat-form-field>
            </div>

            <mat-divider></mat-divider>
            <h1>{{'clients.create-client.additional' | translate}}</h1>
            <div class="form-field forty_field">
                <label class="field-label">{{'clients.create-client.express-transport-percent' | translate}}</label>
                <mat-form-field appearance="outline" class="field-input">
                    <input type="number" matInput [value]="express_surcharge_percentage()" (input)="express_surcharge_percentage.set(+$event.target.value)">
                </mat-form-field>
            </div>
            <div class="form-field forty_field">
                <label class="field-label">{{'clients.create-client.stage-discount-percent' | translate}}</label>
                <mat-form-field appearance="outline" class="field-input">
                    <input type="number" matInput [value]="stage_discount_percentage()" (input)="stage_discount_percentage.set(+$event.target.value)">
                </mat-form-field>
            </div>

            <mat-divider></mat-divider>
            <h1>{{'clients.create-client.km-bands' | translate}}</h1>
            <h2>{{'clients.create-client.distance-interval' | translate}}</h2>
            <div class="form-field quarter_field">
                <label class="field-label">{{'clients.create-client.km-from' | translate}}</label>
                <mat-form-field appearance="outline" class="field-input">
                    <input type="number" matInput [value]="distance_brackets()[0].min_km" (input)="updateDistanceBracket('min_km', +$event.target.value)">
                </mat-form-field>
            </div>
            <div class="form-field quarter_field">
                <label class="field-label">{{'clients.create-client.km-to' | translate}}</label>
                <mat-form-field appearance="outline" class="field-input">
                    <input type="number" matInput [value]="distance_brackets()[0].max_km" (input)="updateDistanceBracket('max_km', +$event.target.value)">
                </mat-form-field>
            </div>

            <mat-divider></mat-divider>
            <h2>{{'clients.create-client.price-to-client' | translate}}</h2>
            <div class="form-field quarter_field">
                <label class="field-label">{{'clients.create-client.price-type' | translate}}</label>
                <mat-form-field appearance="outline" class="field-input">
                    <mat-select [value]="distance_brackets()[0].pricing_type" (selectionChange)="updateDistanceBracket('pricing_type', $event.value)">
                        <mat-option value="FIXED">{{'clients.create-client.pricing-type-fixed' | translate}}</mat-option>
                        <mat-option value="PER_KM">{{'clients.create-client.pricing-type-per-km' | translate}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="form-field quarter_field">
                <label class="field-label">{{'clients.create-client.standard-price-eur' | translate}}</label>
                <mat-form-field appearance="outline" class="field-input">
                    <input type="number" matInput [value]="distance_brackets()[0].standard_price" (input)="updateDistanceBracket('standard_price', +$event.target.value)">
                </mat-form-field>
            </div>
            <div class="form-field quarter_field">
                <label class="field-label">{{'clients.create-client.price-vu-lt-12' | translate}}</label>
                <mat-form-field appearance="outline" class="field-input">
                    <input type="number" matInput [value]="distance_brackets()[0].small_vehicule_price" (input)="updateDistanceBracket('small_vehicule_price', +$event.target.value)">
                </mat-form-field>
            </div>
            <div class="form-field quarter_field">
                <label class="field-label">{{'clients.create-client.price-vu-gt-12' | translate}}</label>
                <mat-form-field appearance="outline" class="field-input">
                    <input type="number" matInput [value]="distance_brackets()[0].big_vehicule_price" (input)="updateDistanceBracket('big_vehicule_price', +$event.target.value)">
                </mat-form-field>
            </div>
        </form>
        <app-buttons type="save-changes" text="clients.create-client.validate-add" (onClick)="onSave()"></app-buttons>
    </mat-card-content>
</mat-card>
<app-dynamic-table [config]="pricesTableConfig"></app-dynamic-table>