@use '../../../../styles/variables' as vars;


.tabs {
    display: flex;
    gap: 16px;
    margin-bottom: 16px;
}

.tab-button {
    // text-transform: uppercase;
    border: none;
    border-radius: 0 !important;
    padding: 10px;
    font-size: 14px;
    font-family: vars.$font-family-primary;
    letter-spacing: 0.05em;
}
.tab-button.active {
    // background-color: vars.$roadit-accent;
    // color: vars.$roadit-text-on-dark;
    font-weight: 600;
    border-bottom: 3px solid vars.$black;
}
