@if(profile!=null){
<mat-card>
    <mat-card-header *ngIf="showPhotoSection">
        <div class="photo-section">
            <img class="user_logo" [src]="profile.image()" alt="">
            <div class="actions">
                <button class="upload_photo_btn" matButton="filled" (click)="onPhotoChanged('')">{{'users.profile.upload-photo' | translate}}</button>
                <!-- <button class="delete_photo_btn" matButton="outlined" (click)="onPhotoDeleted('')">{{'users.profile.delete' | translate}}</button> -->
                <p class="upload_photo_p">{{'users.profile.photo-upload-explanation' | translate}}</p>
            </div>
        </div>
    </mat-card-header>
    
    <mat-card-content>
        <div class="form-field half_field">
            <label class="field-label">{{'users.profile.name' | translate}}</label>
            <mat-form-field appearance="outline" class="field-input">
                <input matInput [value]="profile.name()" (input)="profile.name.set($event.target.value)">
            </mat-form-field>
        </div>
        
        <div class="form-field half_field">
            <label class="field-label">{{'users.profile.lastname' | translate}}</label>
            <mat-form-field appearance="outline" class="field-input">
                <input matInput [value]="profile.last_name()" (input)="profile.last_name.set($event.target.value)">
            </mat-form-field>
        </div>
        
        <div class="form-field half_field">
            <label class="field-label">{{'users.profile.email' | translate}}</label>
            <mat-form-field appearance="outline" class="field-input">
                <input matInput [value]="profile.email()" (input)="profile.email.set($event.target.value)">
            </mat-form-field>
        </div>
        
        @if (showPasswordField) {
        <div class="form-field half_field">
            <label class="field-label">{{'users.profile.password' | translate}}</label>
            <div class="password-container">
                <mat-form-field appearance="outline" class="field-input password-input">
                    <input matInput [type]="showPassword() ? 'text' : 'password'" [value]="password()" (input)="password.set($event.target.value)" placeholder="Escriba aquí...">
                    <button class="pass_icon" mat-icon-button matSuffix type="button" (click)="togglePassword()" 
                            [attr.aria-label]="showPassword() ? 'Ocultar contraseña' : 'Mostrar contraseña'">
                        <mat-icon>{{ showPassword() ? 'visibility_off' : 'visibility' }}</mat-icon>
                    </button>
                </mat-form-field>
                <button class="gen_password_btn" matButton="filled">{{'users.profile.gen-pass' | translate}}</button>
            </div>
            <p class="placeholder-text">Placeholder text</p>
        </div>
        }
        
        <div class="form-field half_field">
            <label class="field-label">{{'users.profile.role' | translate}}</label>
            <mat-form-field appearance="outline" class="field-input">
                <mat-select [value]="profile.roles()" multiple (selectionChange)="profile.roles.set($event.value)">
                    <mat-select-trigger>
                        <div class="selected-values">
                            @for(r of (profile.roles()); track r) {
                                <span class="selected-chip">{{ userRolesDescriptions[r] | translate}}</span>
                            }
                        </div>
                    </mat-select-trigger>
                    @for (roleTuple of Object.entries(userRolesDescriptions); track roleTuple[0]) {
                    <mat-option [value]="roleTuple[0]">
                        {{ roleTuple[1] | translate }}
                    </mat-option>
                    }
                </mat-select>
            </mat-form-field>
            <p class="placeholder-text">Placeholder text</p>
        </div>
        
        <div class="form-field quarter_field">
            <label class="field-label">{{'users.profile.status' | translate}}</label>
            <mat-form-field appearance="outline" class="field-input">
                <mat-select [value]="profile.is_active()" (selectionChange)="profile.is_active.set($event.value)">
                        <mat-option [value]="true">{{ 'userStatus.ACTIVE' | translate }}</mat-option>
                        <mat-option [value]="false">{{ 'userStatus.INACTIVE' | translate }}</mat-option>
                </mat-select>
            </mat-form-field>
            <p class="placeholder-text">Placeholder text</p>
        </div>
        <div class="form-field quarter_field">
            <label class="field-label">{{'users.profile.department' | translate}}</label>
            <mat-form-field appearance="outline" class="field-input">
                <mat-select [value]="profile.departments()" multiple (selectionChange)="profile.departments.set($event.value)">
                    <mat-select-trigger>
                        <div class="selected-values">
                            @for(dept of (profile.departments()); track dept) {
                                <span class="selected-chip">{{ dept }}</span>
                            }
                        </div>
                    </mat-select-trigger>
                    @for (dept of departments; track dept) {
                    <mat-option [value]="dept">
                        {{ dept }}
                    </mat-option>
                    }
                </mat-select>
            </mat-form-field>
            <p class="placeholder-text">Placeholder text</p>
        </div>

    </mat-card-content>
    
    <mat-card-footer *ngIf="showFooterButtons">
        <button class="save_btn" matButton="filled" (click)="onSave()">{{'users.profile.save-changes' | translate}}</button>
        <button class="cancel_btn" matButton="outlined" (click)="onCancel()">{{'users.profile.cancel' | translate}}</button>
    </mat-card-footer>
</mat-card>
}