@use '../../../styles/variables' as vars;

.buttons-container {
  display: flex;
  gap: 5px;
  margin-bottom: 16px;
}

.button-primary {
  background-color: transparent;
  color: vars.$black;
  border: none;
  // border-radius: 5px;
  padding: 10px;
  font-size: 14px;
  font-family: vars.$font-family-primary;
  // text-transform: uppercase;
  letter-spacing: 0.05em;
  transition: all 0.3s ease;
  
  
  &.active {
    font-weight: 600;
    border-bottom: 3px solid vars.$black;
    // background-color: vars.$roadit-accent;
    // color: vars.$roadit-text-on-dark;
  }
}
