h1 {
  font-family: 'Geist', sans-serif;
  font-size: 24px;
  font-weight: 600;
  color: #2D3D32;
  margin-bottom: 24px;
}

.tab-content {
  padding: 20px;
  background-color: #FFFFFF;
  border-radius: 20px;

  h1 {
    font-size: 20px;
    font-weight: 500;
    color: #6F8068;
  }
}