<div class="tables">
    <mat-card>
            <h2>{{'clients.create-client.certs-created' | translate}}</h2>
            <app-dynamic-table [config]="certsCreatedTableConfig"></app-dynamic-table>
    </mat-card>
    <mat-card>
            <h2>{{'clients.create-client.certs-assigned' | translate}}</h2>
            <app-dynamic-table [config]="certsAssignedTableConfig"></app-dynamic-table>
    </mat-card>
</div>
<div class="cert">
    <mat-card>
        <h3>{{'clients.create-client.choose-certification' | translate}}</h3>
        <mat-form-field appearance="outline">
            <input type="text" matInput placeholder="Titulo certificación">
        </mat-form-field>
        
        <h3>{{'clients.create-client.cert-question' | translate}}</h3>
        <mat-form-field appearance="outline">
            <input type="text" matInput placeholder="¿Lorem ipsum dolor sit amet?">
        </mat-form-field>
        
        <div class="answers-container">
            <div class="answer-row">
                <div class="answer-indicator correct">
                    <mat-icon>check</mat-icon>
                </div>
                <div class="answer-content">
                    <span class="answer-label">{{'clients.create-client.answer' | translate}} A</span>
                    <mat-form-field appearance="outline" class="answer-input">
                        <input type="text" matInput placeholder="Lorem ipsum dolor sit amet">
                    </mat-form-field>
                </div>
            </div>
            
            <div class="answer-row">
                <div class="answer-indicator incorrect">
                    <mat-icon>close</mat-icon>
                </div>
                <div class="answer-content">
                    <span class="answer-label">{{'clients.create-client.answer' | translate}} B</span>
                    <mat-form-field appearance="outline" class="answer-input">
                        <input type="text" matInput placeholder="Lorem ipsum dolor sit amet...">
                    </mat-form-field>
                </div>
            </div>
            
            <div class="answer-row">
                <div class="answer-indicator incorrect">
                    <mat-icon>close</mat-icon>
                </div>
                <div class="answer-content">
                    <span class="answer-label">{{'clients.create-client.answer' | translate}} C</span>
                    <mat-form-field appearance="outline" class="answer-input">
                        <input type="text" matInput placeholder="Lorem ipsum dolor sit amet">
                    </mat-form-field>
                </div>
            </div>
        </div>
        
        <h3>{{'clients.create-client.cert-question' | translate}}</h3>
        <mat-form-field appearance="outline">
            <input type="text" matInput placeholder="¿Lorem ipsum dolor sit amet?">
        </mat-form-field>
        
        <div class="answers-container">
            <div class="answer-row">
                <div class="answer-indicator correct">
                    <mat-icon>check</mat-icon>
                </div>
                <div class="answer-content">
                    <span class="answer-label">{{'clients.create-client.answer' | translate}} A</span>
                    <mat-form-field appearance="outline" class="answer-input">
                        <input type="text" matInput placeholder="Lorem ipsum dolor sit amet">
                    </mat-form-field>
                </div>
            </div>
            
            <div class="answer-row">
                <div class="answer-indicator incorrect">
                    <mat-icon>close</mat-icon>
                </div>
                <div class="answer-content">
                    <span class="answer-label">{{'clients.create-client.answer' | translate}} B</span>
                    <mat-form-field appearance="outline" class="answer-input">
                        <input type="text" matInput placeholder="Lorem ipsum dolor sit amet...">
                    </mat-form-field>
                </div>
            </div>
            
            <div class="answer-row">
                <div class="answer-indicator incorrect">
                    <mat-icon>close</mat-icon>
                </div>
                <div class="answer-content">
                    <span class="answer-label">{{'clients.create-client.answer' | translate}} C</span>
                    <mat-form-field appearance="outline" class="answer-input">
                        <input type="text" matInput placeholder="Lorem ipsum dolor sit amet">
                    </mat-form-field>
                </div>
            </div>
        </div>

        <h2>{{'clients.create-client.config' | translate}}</h2>
        <mat-label>{{'clients.create-client.attempts-per-week' | translate}}</mat-label>
        <mat-form-field appearance="outline">
            <input type="number" matInput placeholder="1">
        </mat-form-field>
        <mat-checkbox>
            {{'clients.create-client.available-new-drivers' | translate}}
        </mat-checkbox>
        <app-buttons type="save-changes" text="clients.create-client.save-cert"></app-buttons>
    </mat-card>
</div>