<mat-card>
    <mat-card-content>
        <div class="form">
            <div class="form-field twenty_field">
                <label class="field-label">{{'clients.create-client.movement-type' | translate}}</label>
                <mat-form-field appearance="outline" class="field-input">
                    <mat-select>
                        <mat-option value="1">{{'clients.create-client.movement-type-1' | translate}}</mat-option>
                        <mat-option value="2">{{'clients.create-client.movement-type-2' | translate}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="form-field twenty_field">
                <label class="field-label">{{'clients.create-client.adjunt-type' | translate}}</label>
                <mat-form-field appearance="outline" class="field-input">
                    <mat-select>
                        <mat-option value="1">{{'clients.create-client.adjunt-type-1' | translate}}</mat-option>
                        <mat-option value="2">{{'clients.create-client.adjunt-type-2' | translate}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="form-field twenty_field">
                <label class="field-label">{{'clients.create-client.application-moment' | translate}}</label>
                <mat-form-field appearance="outline" class="field-input">
                    <mat-select>
                        <mat-option value="1">{{'clients.create-client.application-moment-1' | translate}}</mat-option>
                        <mat-option value="2">{{'clients.create-client.application-moment-2' | translate}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="form-field twenty_field">
                <label class="field-label">{{'clients.create-client.main-client' | translate}}</label>
                <mat-form-field appearance="outline" class="field-input">
                    <input type="text" matInput>
                </mat-form-field>
            </div>
            <div class="form-field eight_field">
                <button mat-button class="primary_btn">{{'clients.create-client.save' | translate}}</button>
            </div>
            <div class="form-field twenty_field">
                <label class="field-label">{{'clients.create-client.doc-type' | translate}}</label>
                <mat-form-field appearance="outline" class="field-input">
                    <mat-select>
                        <mat-option value="1">{{'clients.create-client.doc-type-1' | translate}}</mat-option>
                        <mat-option value="2">{{'clients.create-client.doc-type-2' | translate}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="form-field twenty_field">
                <label class="field-label">{{'clients.create-client.adjunt-type' | translate}}</label>
                <mat-form-field appearance="outline" class="field-input">
                    <mat-select>
                        <mat-option value="1">{{'clients.create-client.adjunt-type-1' | translate}}</mat-option>
                        <mat-option value="2">{{'clients.create-client.adjunt-type-2' | translate}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="form-field forty_field">
                <label class="field-label">{{'clients.create-client.url' | translate}}</label>
                <mat-form-field appearance="outline" class="field-input">
                    <input type="text" matInput>
                </mat-form-field>
            </div>
            <div class="form-field eight_field">
                <button mat-button class="primary_btn">{{'clients.create-client.save' | translate}}</button>
            </div>

        </div>
    </mat-card-content>
</mat-card>
<mat-card class="table-card">
    <app-dynamic-table [config]="tableConfig"></app-dynamic-table>
</mat-card>