<mat-card class="cert">
    <!-- Título de la certificación -->
    <h3>{{'clients.create-client.choose-certification' | translate}}</h3>
    <mat-form-field appearance="outline">
        <input 
            type="text" 
            matInput 
            [value]="certification.title()"
            [disabled]="true"
            [placeholder]="'clients.create-client.certification-title' | translate">
    </mat-form-field>
    
    @for (question of certification.exam().questions(); track question.id!; let i = $index) {
        <div class="question-container">
            <div class="question-header">
                <h3>{{'clients.create-client.cert-question' | translate}} {{i + 1}}</h3>
            </div>
            
            <mat-form-field appearance="outline">
                <input 
                    type="text" 
                    matInput 
                    [value]="question.title()"
                    [disabled]="true"
                    [placeholder]="'clients.create-client.question-placeholder' | translate">
            </mat-form-field>
            
            <div class="answers-container">
                @for (answer of question.options(); track answer.id()!; let j = $index) {
                    <div class="answer-row">
                        <div 
                            class="answer-indicator" 
                            [class.correct]="answer.is_correct()"  
                            [class.incorrect]="!answer.is_correct()"
                            >
                            <mat-icon>{{answer.is_correct() ? 'check' : 'close'}}</mat-icon>
                        </div>
                        <div class="answer-content">
                            <span class="answer-label">{{'clients.create-client.answer' | translate}} {{$index + 1}}</span>
                            <mat-form-field appearance="outline" class="answer-input">
                                <input 
                                    type="text" 
                                    matInput 
                                    [value]="answer.title()"
                                    [disabled]="true"
                                    [placeholder]="'clients.create-client.answer-placeholder' | translate">
                            </mat-form-field>
                        </div>
                    </div>
                }
                
            </div>
        </div>
    }
    

    <h2>{{'clients.create-client.config' | translate}}</h2>
    
    <div class="config-section">
        <mat-label>{{'clients.create-client.attempts-per-week' | translate}}</mat-label>
        <mat-form-field appearance="outline">
            <input 
                type="number" 
                matInput 
                [value]="certification.max_tries_per_week()"
                [disabled]="curAction() == 'nothing'"
                (input)="certification.max_tries_per_week.set(+$event.target.value)"
                [placeholder]="'1'">
                @if(max_tries_per_week_is_empty()){
                    <small class="field-error">{{'errorsGlobal.required-field' | translate}}</small>
                }
        </mat-form-field>
        
    </div>
    
    <div class="checkbox-section">
        <mat-checkbox 
            [checked]="certification.allow_new_drivers()"
            (change)="certification.allow_new_drivers.set($event.checked)"
            [disabled]="curAction() == 'nothing'">
            {{'clients.create-client.available-new-drivers' | translate}}
        </mat-checkbox>
    </div>
    @if(curAction() != 'nothing'){
        <app-buttons type="save-changes" [text]="curAction() == 'edit' ? 'clients.create-client.save-cert' : 'clients.create-client.assign'" (click)="onSave()"></app-buttons>
    }    
</mat-card>
