
::ng-deep app-transports {
  mat-card-content {
    table {
      th {
        font-size: 12px !important; 
        line-height: 1.2 !important;
        white-space: normal !important; 
        word-break: keep-all !important; 
        overflow-wrap: break-word !important; 
      }
    }
  }
}
