<!-- Sidebar Component -->
<aside class="sidebar" [class.collapsed]="isCollapsed()">

  <!-- Header del sidebar con logo -->
  <div class="sidebar-header">

    <!-- Botón de colapsar (doble flecha como en Figma) -->
    <button class="collapse-btn" (click)="onToggleMenu()" type="button">
      @if (isCollapsed()) {
      <img src="assets/icons/whiteChevronRight.svg" alt="Expandir" class="chevron-icon">
      } @else {
      <img src="assets/icons/whiteChevronLeft.svg" alt="Colapsar" class="chevron-icon chevron-right">
      }
    </button>
  </div>

  <!-- Navegación del menú -->
  <nav class="sidebar-nav">
    <ul class="nav-list">
      @for (item of menuItems; track item.route || $index) {
      @if (!item.submenus) {
      <li class="nav-item" [class.active]="item.active">
        <sidebar-menu-item [label]="item.label"
          [icon]="(item.iconType === 'png' || item.iconType === 'svg') ? item.iconPath : item.icon" [route]="item.route"
          [hasSubitems]="false" [isCollapsed]="isCollapsed()"></sidebar-menu-item>
      </li>
      } @else {
      <li class="nav-item" [class.active]="item.active" (click)="toggleSubmenu($index)">

        <sidebar-menu-item [label]="item.label" [icon]="item.iconType === 'png' ? item.iconPath : item.icon"
          [hasSubitems]="true" [expanded]="!item.collapsed" [isCollapsed]="isCollapsed()"></sidebar-menu-item>
        <!-- <span class="material-icons submenu-arrow">{{ item.collapsed ? 'expand_more' : 'expand_less' }}</span> -->

        @if (!item.collapsed) {
        <ul class="submenu">
          @for (subitem of item.submenus; track subitem.route) {
          <li class="submenu-item">
            <sidebar-menu-item [label]="subitem.label" [icon]="undefined" [route]="subitem.route" [hasSubitems]="false"
              [isSubitem]="true"></sidebar-menu-item>
          </li>
          }
        </ul>
        }

      </li>
      }
      }
    </ul>
  </nav>

</aside>