<div class="tables">
    <mat-card>
        <h2>{{'clients.create-client.certs-created' | translate}}</h2>
        <mat-label>{{'clients.create-client.intern-movement-type' | translate}}</mat-label>
        <mat-form-field appearance="outline">
            <mat-select>
                <mat-option value="SIMPLE_MOVEMENT">{{'clients.create-client.simple-movement' | translate}}</mat-option>
                <mat-option value="PICKUP_TO_FINAL_CUSTOMER">{{'clients.create-client.pickup-to-final-customer' | translate}}</mat-option>
                <mat-option value="DELIVERY_TO_FINAL_CUSTOMER">{{'clients.create-client.delivery-to-final-customer' | translate}}</mat-option>
                <mat-option value="PICKUP_AND_DELIVERY_TO_FINAL_CUSTOMER">{{'clients.create-client.pickup-and-delivery-to-final-customer' | translate}}</mat-option>
                <mat-option value="WITH_STOPOVER">{{'clients.create-client.with-stopover' | translate}}</mat-option>
            </mat-select>
        </mat-form-field>
        <app-dynamic-table [config]="protocolTableConfig"></app-dynamic-table>
    </mat-card>
    <mat-card>
        <h2>{{'clients.create-client.protocols-assigned' | translate}}</h2>
        <app-dynamic-table [config]="protocolAssignedTableConfig"></app-dynamic-table>
    </mat-card>
</div>

<div class="card">
    <mat-card>
        <h3>{{'clients.create-client.action-title' | translate}}</h3>
        <mat-form-field appearance="outline">
            <input type="text" matInput placeholder="Título certificación">
        </mat-form-field>
        
        <h3>{{'clients.create-client.type' | translate}}</h3>
        <div class="type-section">
            <mat-form-field appearance="outline">
                <mat-select>
                    <mat-option value="SINGLE_CHECK">{{'clients.create-client.single-check' | translate}}</mat-option>
                    <mat-option value="MULTI_CHECK">{{'clients.create-client.multi-check' | translate}}</mat-option>
                    <mat-option value="IMAGE">{{'clients.create-client.image' | translate}}</mat-option>
                </mat-select>
            </mat-form-field>
            <app-buttons (click)="openOptionModal()" type="save-changes" text="clients.create-client.edit-options"></app-buttons>
        </div>
        
        <h3>{{'clients.create-client.application-moment' | translate}}</h3>
        <mat-form-field appearance="outline">
            <mat-select>
                <mat-option value="BOTH">{{'clients.create-client.both-departure-both' | translate}}</mat-option>
                <mat-option value="DEPARTURE">{{'clients.create-client.departure' | translate}}</mat-option>
                <mat-option value="ARRIVAL">{{'clients.create-client.arrival' | translate}}</mat-option>
            </mat-select>
        </mat-form-field>
        
        <div class="action-buttons">
            <app-buttons type="save-changes" text="clients.create-client.assign"></app-buttons>
            <app-buttons type="cancel" text="clients.create-client.cancel"></app-buttons>
        </div>
    </mat-card>
</div>