<div class="tables">
    <mat-card>
        <h2>{{'clients.create-client.protocols-templates' | translate}}</h2>
        <mat-label>{{'clients.create-client.intern-movement-type' | translate}}</mat-label>
        <mat-form-field appearance="outline">
            <mat-select [value]="currentType()" (selectionChange)="currentType.set($event.value)">
                @for(transportType of transportPrincipalTypes; track transportType.key) {
                    <mat-option [value]="transportType.key">{{'transportPrincipalType.' + transportType.key | translate}}</mat-option>
                }
            </mat-select>

        </mat-form-field>
        <app-dynamic-table [config]="protocolTableConfig"></app-dynamic-table>
    </mat-card>
    <mat-card>
        <h2>{{'clients.create-client.protocols-assigned' | translate}}</h2>
        <app-dynamic-table [config]="protocolAssignedTableConfig"></app-dynamic-table>
    </mat-card>
</div>

<div class="card">
    <mat-card>
        <h3>{{'clients.create-client.action-title' | translate}}</h3>
        <mat-form-field appearance="outline">
            <input type="text" matInput placeholder="Título certificación" [value]="curProtocol.title()" (input)="curProtocol.title.set($event.target.value)" [disabled]="curAction()==='nothing'">
        </mat-form-field>
        
        <h3>{{'clients.create-client.type' | translate}}</h3>
        <div class="type-section">
            <mat-form-field appearance="outline">
                <mat-select  [value]="curProtocol.protocol_type()" (selectionChange)="curProtocol.protocol_type.set($event.value)" [disabled]="curAction()==='nothing'">
                    @for (curType of protocolsType; track curType.key) {
                        <mat-option [value]="curType.key">{{ curType.value | translate }}</mat-option>
                    }
                </mat-select>
            </mat-form-field>
            @if(curProtocol.protocol_type() !== 'IMAGE') {
                <app-buttons (click)="openOptionModal()" type="save-changes" text="clients.create-client.edit-options" [disabled]="curAction()==='nothing'"></app-buttons>
            }
            
        </div>
        
        <h3>{{'clients.create-client.application-moment' | translate}}</h3>
        <mat-form-field appearance="outline">
            <mat-select  [value]="curProtocol.direction_type()" (selectionChange)="curProtocol.direction_type.set($event.value)" [disabled]="curAction()==='nothing'">
                    @for (curType of directionType; track curType.key) {
                        <mat-option [value]="curType.key">{{ curType.value | translate }}</mat-option>
                    }
            </mat-select>
        </mat-form-field>
        @if(curAction() === 'create' || curAction() === 'edit') {
            <div class="action-buttons">
                <app-buttons type="save-changes" (onClick)="Asign()" [text]="saveLabel() | translate"></app-buttons>
                <app-buttons type="cancel" (onClick)="cancel()" text="clients.create-client.cancel"></app-buttons>
            </div>
        }
    </mat-card>
</div>