.editors {
    display: flex;
    flex-direction: row;
    gap: 16px;
    .editor {
        width: 50%;
        display: flex;
        flex-direction: column;
        gap: 12px;
        h3 {
            margin-bottom: 0px;
        }
    }
}
.buttons {
    display: flex;
    flex-direction: row;
    gap: 16px;
    justify-content: flex-start;
    margin-top: 25px;
}